body {
  background-color: hsl(235, 18%, 26%);
  font-family: 'Roboto', sans-serif;
}

.box {
  width: 600px;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: row;
}

.signup-image {
  max-width: 100%
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  padding: 10px;
}

ul {
  list-style-image: url('assets/images/icon-list.svg');
  margin: 0px;
}

li::marker {
  margin: 10px;
}

li {
  list-style-type: none;
  margin: 0;
  padding-top: 10px;
  padding-left: 10px;
  font-size: small;
  white-space: nowrap
}

h1 {
  padding-top: 20px;
  font-size: 35px;
  color: hsl(235, 18%, 26%);

}

h2 {
  font-size: small;
  font-weight: 400;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.email {
  font-size: small;
  color: hsl(235, 18%, 26%);
  font-weight: 700;
  margin-top: 40px;
}

.input-box {
  width: 90%;
  height: 25px;
  border: 1px solid hsl(231, 7%, 60%);
  padding: 10px;
  border-radius: 10px;
}

button {
  width: 90%;
  height: 50px;
  border: 1px solid hsl(231, 7%, 60%);
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: hsl(235, 18%, 26%);
  font-size: small;
  color: white;
  font-weight: 700;
}